/* Home page */
.addbtn:hover {
    font-size: 40px;
    transition-duration: .1s;
    color: rgb(84, 79, 117)
}

.weblogo:hover {
    height: 45px;
    width: 45px;
    transition-duration: .1s;
}

.homepage {
    background-image: url(https://i0.wp.com/pianistmusings.com/wp-content/uploads/2019/01/DSC_5837.jpg?fit=3507%2C1883&ssl=1);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

/* Footer */
.footerquotes {
    font-size: x-large;
    font-weight: bold; 
}

/* Added notes */
#addednotesection1{
   min-height: 90vh;
    
}
.addednotesection2{
    background-image: url(https://static.vecteezy.com/system/resources/previews/004/495/548/non_2x/light-soft-color-blue-low-poly-crystal-background-polygon-design-pattern-low-poly-illustration-low-polygon-background-free-vector.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Notecard */
.notecard{
    background-image: url(https://fiverr-res.cloudinary.com/videos/t_main1,q_auto,f_auto/ucnc0ysladfn0fabkmzt/draw-learning-flashcards-for-kids.png);
    min-height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;

}


/* media query */
@media screen and (max-width:470px) {
    .footerquotes {
      font-size: large;
    }
}